* {
    margin: 0;
    padding: 0;
  }

body {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    padding: 20px 35px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
  }

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: beige;
    justify-content: flex-start;
  }
  
header a {
    color: beige;
    text-decoration: none;
  }

header nav {
    margin: 7px 0;
  }

header a:hover {
  background-color: beige;
  color: black;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

.nav-list li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 1px solid beige;
    padding-bottom: 3px;
  }

.hero-img {
    background-image: url("./images/staircase_perspective.jpg");
    height: 450px;
    background-position: center;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: -2;
}

.hero-text {
    background-color: beige;
    border-bottom: 1px solid grey;
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: grey;
    margin: 10px;
    padding: 20px;
    margin-right: 40px;
}

#about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 auto 35px auto;
    height: 300px;
}

.bio-title {
    width: 30%;
    margin: 3.5%;
    padding: 20px;
    border-right: 5px solid gray;
    text-align: right;
    font-size: 32px; 
}

.bio-text {
    width: 30%;
    margin: 3.5%;
    margin-left: 0%;
    font-size: 18px;
}

.bio-pic {
    width: 425px;
    height: 300px;
    position: absolute;
    top: 75%;
    left: 10%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
}

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 0px auto;
    height: 550px;
}

.work-title {
    width: 20%;
    margin: 3.5%;
    padding: 20px;
    border-right: 5px solid gray;
    text-align: right;
    font-size: 32px;
}
    
.work-examples {
    width: 65%;
    margin: 3.5%;
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 144px);
    grid-gap: 10px;
    margin-left: 0%;
}

.work-example-box1 {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3;
    background-image: url("./images/daily-dashboard.png");
    background-position: center;
    background-size: cover;
    border: 5px solid grey;
}

.work-example-box1:hover {
    opacity: 0.3;
}

.work-example-box1-text {
    margin: 0px;
    padding: 10px;
    background-color: grey;
    color: white;
    text-align: left;
    width: 35%;
    position: relative;
    left: 0px;
    top: 200px;
    font-size: 100%;
}

.work-example-box1-text h4 {
    font: bold;
}

.work-example-box2 {
    background-image: url("./images/horiseon.png");
    background-position: center;
    background-size: cover;
    border: 5px solid grey;
}

.work-example-box2:hover {
    opacity: 0.3;
}
.work-example-box2-text {
    margin: 0px;
    padding: 10px;
    background-color: grey;
    color: white;
    text-align: left;
    width: 30%;
    position: relative;
    left: 0px;
    top: 65px;
    font-size: 100%;
}

.work-example-box2-text h4 {
    font: bold;
}

.work-example-box {
    border: 5px solid grey;
}    

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 35px auto;
}

.contact-title {
    width: 20%;
    margin: 3.5%;
    font-size: 32px;
    padding: 20px;
    border-right: 5px solid gray;
    text-align: right;
}

.contact-list {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding-right: 65px;
}

.contact-list li a {
    margin: 0 30px;
    font-size: 24px;
}

.contact-list li a:hover {
    background-color: beige;
    color: black;
}

 .contact-list li a:not(.default):link { 
    color: gray; 
}

.contact-list li a:not(.default):visited { 
    color: grey; 
}