* {
    margin: 0;
    padding: 0;
  }

body {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }

/* "navigation" section */

header {
    padding: 20px 35px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
  }

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: beige;
    justify-content: flex-start;
  }
  
header a {
    color: beige;
    text-decoration: none;
  }

header nav {
    margin: 7px 0;
  }

header a:hover {
  background-color: beige;
  color: black;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

.nav-list li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 1px solid beige;
    padding-bottom: 3px;
  }

/* "hero" section */

.hero-img {
    background-image: url("./images/staircase_perspective.jpg");
    height: 450px;
    background-position: center;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: -2;
}

.hero-text {
    background-color: beige;
    border-bottom: 1px solid grey;
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: grey;
    margin: 10px;
    padding: 20px;
    margin-right: 40px;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

/* "about-me" and other sections */

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid grey;
    font-size: 4vw;
    line-height: 1.1;
}

.page-section div {
    flex: 0 0 77%;
}

.page-section p {
    margin-bottom: 20px;
}

/* "work" section */

.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    /* create a 12 column grid */
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
}

.grid-item {
    border: 5px solid grey;
    grid-column: span 4;
    color: beige;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9em;
}

/* first portfolio item */

.grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
}

.grid-item:hover {
    background-color: grey;
}

.grid-item div {
    background-color: grey;
    padding: 8px 10px;
}

.grid-item {
    font-size: 1.6em;
}

/* portfolio images */

.daily-dashboard {
    background-image: url(./images/daily-dashboard.png)
}

.horiseon-project {
    background-image: url(./images/horiseon.png)
}

/* "contact" section */

.contact-list {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.contact-list li a {
    margin: 0 15px;
    font-size: 24px;
}

.contact-list li a:hover {
    background-color: beige;
    color: black;
}

 .contact-list li a:not(.default):link { 
    color: gray; 
}

.contact-list li a:not(.default):visited { 
    color: grey; 
}

/* other device sizes */

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }

    .page-section h2,
    .page-section div {
        flex: 0 0 100%;
    }

    .page-section h2 {
        border-right: none;
        border-bottom: 4px solid grey;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
}


@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    
    .grid-item,
    .grid-container: :first-child {
        grid-column: 1 / -1;
    }

    .contact-list li a {
        margin: 0px;
        font-size: 16px;
    }
}